{% extends 'core/ground.html' %}
{% load static %}

{% block title %} Bot {% endblock %}


{% block contenido %}
    
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="{% static 'core/img/brand-sni.png' %}" alt="Encuentro de Investigadores" >
        <span class="fs-4">Primer Encuentro de Investigadores Hidalguenses</span>
      </a>
    </header>


<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-9 mx-auto">
            <h1>Tu registro ha sido exitoso</h1>
            <p>Te invitamos a interactuar con el Bot del evento en TELEGRAM, donde podrás encontrar información relevante, el programa y eventos.</p>
            <a href="https://t.me/snihgo_bot" class="btn btn-warning btn-lg mt-3"> <i class="fa-brands fa-telegram"></i> @snihgo_bot</a>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-9 mx-auto">
            <p>Si lo prefiere puede descargar directamente el programa del evento.</p>
            <a href="{% url 'programa' %}" class="btn btn-secondary btn-sm mt-1"> <i class="fa-sharp fa-solid fa-link"></i> Liga</a>
        </div>
    </div>

</div>



  {% endblock %}