Centro Hidalguense de Estudios Superiores
Centro Regional de Educación Normal Benito Juárez
Centro Universitario  Continental
Centro Universitario Allende
Centro Universitario del Oriente de Hidalgo
Centro Universitario Hidalguense
Centro Universitario Metropolitano
Centro Universitario Siglo XXI
Centro Universitario Vasco de Quiroga de Huejutla
Colegio Anáhuac
Consorcio Educativo Londres-UCLAH
Escuela Bancaria y Comercial, Campus Pachuca
Escuela de Música del Estado de Hidalgo
Escuela Normal Superior del Estado de Hidalgo
Escuela Normal Superior Miguel Hidalgo
Escuela Normal Valle del Mezquital
Escuela Superior de Actopan
Escuela Superior de Atotonilco de Tula
Escuela Superior de Ciudad Sahagún
Escuela Superior de Huejutla
Escuela Superior de Tepeji del Río
Escuela Superior de Tizayuca
Escuela Superior Tlahuelilpan
Escuela Superior Zimapán
Instituto de Administración Pública del Estado de Hidalgo
Instituto de Ciencias y Estudios Superiores de Hidalgo
Instituto de Estudios Superiores ISIMA, Plantel Pachuca
Instituto Tecnológico de Huejutla
Instituto Tecnológico de la Construcción (ITC), Campus Hidalgo
Instituto Tecnológico de Pachuca
Instituto Tecnológico Latinoamericano, Campus Central
Instituto Tecnológico Latinoamericano, Campus Tula
Instituto Tecnológico Superior de Huichapan
Instituto Tecnológico Superior del Occidente del Estado de Hidalgo (ITSOEH)
Instituto Tecnológico Superior del Oriente del Estado de Hidalgo
Tecnológico de Monterrey, Campus Hidalgo
Universidad Autónoma del Estado de Hidalgo (UAEH)
Universidad Científica Latino Americana de Hidalgo
Universidad del Futbol y Ciencias del Deporte
Universidad del Nuevo México
Universidad del Nuevo México
Universidad ETAC Campus Tulancingo
Universidad Iberomexicana de Hidalgo
Universidad Interamericana para el Desarrollo (UNID) Sede Pachuca
Universidad Interamericana para el Desarrollo (UNID) Sede Tula
Universidad La Salle de Pachuca
Universidad Pedagógica Nacional (UPN) U-131 Pachuca
Universidad Politécnica de Francisco I.Madero
Universidad Politécnica de Huejutla
Universidad Politécnica de Pachuca
Universidad Politécnica de Tulancingo
Universidad Politécnica Metropolitana de Hidalgo
Universidad Siglo XXI Pachuca
Universidad Tecnológica de la Huasteca Hidalguense
Universidad Tecnológica de la Sierra Hidalguense
Universidad Tecnológica de Tula-Tepeji
Universidad Tecnológica de Tulancingo
Universidad Tecnológica de Valle del Mezquital